@import "../defaults/color";
@import "../defaults/font";

/* Styling for the 2nd section of homepage */
.home-section-2 {
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 50px;

    #about-me-header {
        font-family: $primary-font;
        font-weight: bold;
        font-size: 1.6rem;
        color: $primary-background;
    }

    .first-intro {
        font-family: $tertiary-font;
        font-size: 1.2rem;
    }

    .short-bio {
        font-family: $primary-font;
        font-size: 1.1rem;
        margin-bottom: 30px;
    }

    /* Styling for the "read my story" button */
    #read-story-button {
        display: flex;
        align-items: center;
        justify-content: center; 
        border: 2px solid $secondary-background;
        border-radius: 20px;
        background-color: $secondary-background;
        margin: auto;
        width: 130px;
        height: 40px;

        &:hover {
            background-color: $tertiary-background;
            border: $tertiary-background;
        }

        #read-my-story {
            text-decoration: none;
            color: black;
            font-family: $secondary-font;
            font-size: 0.8rem;
            font-weight: bold;
        }
    }
}

/* Styling for responsive view on tablet */
@media screen and (min-width: 600px) {
    .home-section-2 {
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 50px;

        #about-me-header {
            font-size: 2rem;
        }

        .first-intro {
            font-family: $tertiary-font;
            font-size: 1.4rem;
        }

        .short-bio {
            font-family: $primary-font;
            font-size: 1.2rem;
            margin-bottom: 30px;
        }
    }
}


/* Styling for responsive view on desktop */
@media screen and (min-width: 1000px) {
    .home-section-2 {
        margin-left: 200px;
        margin-right: 200px;
        margin-top: 50px;
        margin-bottom: 100px;

        .first-intro {
            font-family: $tertiary-font;
            font-size: 1.8rem;
        }

        .short-bio {
            font-family: $primary-font;
            font-size: 1.4rem;
            margin-bottom: 30px;
        }
    }
}

/* Styling for responsive view on monitor*/
@media screen and (min-width: 1500px) {
    .home-section-2 {
        margin-left: 300px;
        margin-right: 300px;
        margin-top: 50px;
        margin-bottom: 100px;
    }
}