@import "../defaults/color";
@import "../defaults/font";

@mixin description-box {
    border: none;
    border-radius: 5%;
    width: 165px;
    height: 165px;
    background-color: $secondary-background;
    margin: 8px;
}

@mixin description-box-desktop {
    height: 280px;
    width: 280px;
    padding: 30px;
}

@mixin description-box-tablet {
    height: 200px;
    width: 200px;
}

@mixin box-styling {
    box-sizing: border-box;
    padding: 15px;
    overflow: hidden;
}

@mixin box-headline {
    color: $secondary-text-color;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: $secondary-font;
    font-size: 0.8rem;
    font-weight: bold;
}


@mixin box-headline-desktop {
    font-size: 1rem;
}

@mixin thin-line {
    border: 0.8px solid $tertiary-background;
    width: 100%;
    margin-top: 5px;
}

.home-section-2 {
    margin: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(1fr, 1fr);
    justify-items: center;
}

// Styling for the short bio 
.short-bio {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;

    .intro {
        color: $secondary-text-color;
        margin-bottom: 0;
        font-size: 1.3rem;
        font-family: $primary-font;
        font-weight: bold;
    }

    .brief {
        text-align: center;
        font-family: $primary-font;
        font-size: 1rem;
    }

    .resume-button {
        border: 1px solid $tertiary-background;
        border-radius: 20px;
        height: 40px;
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $tertiary-background;
        
        a {
            text-decoration: none;
            font-family: $secondary-font;
            font-size: 13px;
            font-weight: bold;
            color: black;
        }
    }
}

.resume-button:hover {
    background-color: #E1D5D9;
    border:#E1D5D9;
}

// Styling for the whole section of short descriptions of skills and experience.
.description-boxes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;

    .description-line-1 {
        
        .tech-skills {
            @include description-box();
            margin-bottom: 15px;
        }

        .soft-skills {
            @include description-box();
        }
    }

    .description-line-2 {

        .education {
            @include description-box();
            margin-bottom: 15px;
        }

        .experience {
            @include description-box();
        }
    }
}

// Styling for individual skill boxes

// Tech skills box
.tech-skills {
    @include box-styling();

    .tech-skills-headline {
        @include box-headline();

        .thinline {
            @include thin-line();
        }
    }

    .tech-skills-list {
        list-style-type: none;
        margin-top: 5px;
        padding-left: 0;
        font-family: $primary-font;

        li {
            margin:2px;
        }
    }
}

// Soft skill box
.soft-skills {
    @include box-styling();

    .soft-skills-headline {
        @include box-headline();

        .thinline {
            @include thin-line();
        }
    }

    .soft-skills-list {
        list-style-type: none;
        margin-top: 5px;
        padding-left: 0;
        font-family: $primary-font;

        li {
            margin:2px;
        }
    }
}

// Education background box
.education {
    @include box-styling();

    .education-headline {
        @include box-headline();

        .thinline {
            @include thin-line();
        }
    }

    .education-list {
        font-family: $primary-font;
        font-size: 12px;
        margin-top: 5px;

        #latrobe {
            font-size: 15px;
            font-weight: bold;
        }

        #academy {
            margin-top: 2px;
            font-size: 15px;
            font-weight: bold;
        }
    }
}

// Work history box
.experience {
    @include box-styling();

    .experience-headline {
        @include box-headline();

        .thinline {
            @include thin-line();
        }
    }

    .experience-list {
        font-family: $primary-font;
        font-size: 12px;
        margin-top: 5px;

        #bosch {
            font-size: 15px;
            font-weight: bold;
        }

        #programmed {
            margin-top: 10px;
            font-size: 15px;
            font-weight: bold;
        }
    }
}

// Media breakpoints to make section 2 of homepage responsive on tablet.

@media screen and (min-width:700px) {
    .home-section-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        .short-bio {
            width:80%;
            display:flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-left: 50px;
        
            .intro {
                color: $secondary-text-color;
                font-size: 1.7rem;
                font-family: $primary-font;
                font-weight: bold;
            }
        
            .brief {
                font-family: $primary-font;
                text-align: left;
                font-size: 1.3rem;
                width: 100%;
            }
        }

        .description-boxes {
            display: grid;
            margin: 20px;

            .tech-skills {
                @include description-box-tablet();
                
                .tech-skills-list {
                    font-size: 18px;
                    margin-top: 10px;
                }
            }

            .soft-skills {
                @include description-box-tablet();

                .soft-skills-list {
                    font-size: 18px;
                    margin-top: 10px;
                }   
            }

            .education {
                @include description-box-tablet();
                
                 
                .education-list {
                    font-size: 14px;
                    margin-top: 10px;

                    #latrobe {
                        font-size: 18px;
                    }

                    #academy {
                        margin-top: 10px;
                        font-size: 18px;
                    }
                }
            }

            .experience {
                @include description-box-tablet();
                
                .experience-list {
                    font-size: 14px;
                    margin-top: 10px;

                    #bosch {
                        font-size: 18px;
                    }

                    #programmed {
                        margin-top: 10px;
                        font-size: 18px;
                    }
                }  
            }
        }
    }
}

// Media breakpoints to make section 2 of homepage responsive on desktop.

@media screen and (min-width:1300px) {
    .home-section-2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 200px;
        padding-right: 200px;

        .short-bio {
            width:100%;
            margin: 0;
            display:flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        
            .intro {
                color: $secondary-text-color;
                font-size: 2.3rem;
                font-family: $primary-font;
                font-weight: bold;
                margin-top:0;
            }
        
            .brief {
                font-family: $primary-font;
                text-align: left;
                font-size: 1.3rem;
                width: 80%;
            }
        }

        
        .resume-button {
            height: 50px;
            width: 150px;
            border-radius: 60px;

            a {
           font-size: 1rem;
            }
        }


        .description-boxes {
            margin: 0;

            .tech-skills {
                @include description-box-desktop();
                
                .tech-skills-headline {
                    @include box-headline-desktop();
                }

                .tech-skills-list {
                    font-size: 20px;
                    margin-top: 10px;
                }
            }

            .soft-skills {
                @include description-box-desktop();
                
                .soft-skills-headline {
                    @include box-headline-desktop();
                }

                .soft-skills-list {
                    font-size: 20px;
                    margin-top: 10px;
                }
            }

            .education {
                @include description-box-desktop();

                .education-headline {
                    @include box-headline-desktop();
                }
                
                .education-list {
                    font-size: 20px;
                    margin-top: 10px;

                    #latrobe {
                        font-size: 20px;
                    }

                    #academy {
                        margin-top: 10px;
                        font-size: 20px;
                    }
                }
            }

            .experience {
                @include description-box-desktop(); 
                
                .experience-headline {
                    @include box-headline-desktop();
                }
                
                .experience-list {
                    font-size: 20px;
                    margin-top: 10px;

                    #bosch {
                        font-size: 20px;
                    }

                    #programmed {
                        margin-top: 10px;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

// Animation to make section 2 slowly fade in when loading webpage
.home-section-2 {
    animation: fadein 3s linear 1 forwards;
}

@keyframes fadein {

    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

