header {
  background-color: #58545B;
  padding: 16px;
  text-align: center;
}
header .nav-items {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}
header a {
  color: white;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  margin: 5px;
  font-size: 16px;
}

a:hover {
  color: #B7A7AE;
}

@media screen and (min-width: 600px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
  }
  header .nav-items {
    width: 50%;
  }
}
.banner-background {
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner-background #background-photo {
  height: 600px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 50%;
}

.head-banner {
  height: 480px;
  width: 300px;
  position: absolute;
  background-color: #1C252C;
  box-shadow: 0px 0px 10px #1C252C;
  display: flex;
  flex-direction: column;
}
.head-banner #profile-photo {
  height: 200px;
  width: 150px;
  margin-top: 30px;
  margin-left: 30px;
}
.head-banner .head-title {
  color: white;
  margin-left: 30px;
}
.head-banner .head-title #name {
  font-family: "Inter", sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}
.head-banner .head-title .full-stack {
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  margin-top: 15px;
  margin-bottom: 0;
}
.head-banner .head-title .developer {
  font-size: 30px;
  font-family: "Oswald", sans-serif;
  margin-top: 0;
  margin-bottom: 20px;
}
.head-banner .head-title .underline {
  border: 1.5px solid white;
  width: 140px;
  margin-top: 0;
}

@media screen and (min-width: 600px) {
  .head-banner {
    height: 400px;
    width: 600px;
    flex-direction: row;
  }
  .head-banner #profile-photo {
    height: 320px;
    width: 230px;
    margin-top: 40px;
    margin-left: 40px;
  }
  .head-banner .head-title {
    margin-top: 40px;
  }
  .head-banner .head-title #name::before {
    content: "Hello, I'm";
    font-size: 25px;
    display: block;
    margin-bottom: 15px;
  }
  .head-banner .head-title #name {
    margin-top: 0;
    margin-bottom: 33px;
    font-size: 60px;
  }
  .head-banner .head-title .full-stack {
    margin-top: 30px;
    font-size: 25px;
  }
  .head-banner .head-title .developer {
    font-size: 25px;
  }
}
.home-section-2 {
  margin: 10px;
  margin-top: 20px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(1fr, 1fr);
  justify-items: center;
}

.short-bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.short-bio .intro {
  color: #58545B;
  margin-bottom: 0;
  font-size: 1.3rem;
  font-family: "Cormorant Infant", serif;
  font-weight: bold;
}
.short-bio .brief {
  text-align: center;
  font-family: "Cormorant Infant", serif;
  font-size: 1rem;
}
.short-bio .resume-button {
  border: 1px solid #B7A7AE;
  border-radius: 20px;
  height: 40px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #B7A7AE;
}
.short-bio .resume-button a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: black;
}

.resume-button:hover {
  background-color: #E1D5D9;
  border: #E1D5D9;
}

.description-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
}
.description-boxes .description-line-1 .tech-skills {
  border: none;
  border-radius: 5%;
  width: 165px;
  height: 165px;
  background-color: #E1D5D9;
  margin: 8px;
  margin-bottom: 15px;
}
.description-boxes .description-line-1 .soft-skills {
  border: none;
  border-radius: 5%;
  width: 165px;
  height: 165px;
  background-color: #E1D5D9;
  margin: 8px;
}
.description-boxes .description-line-2 .education {
  border: none;
  border-radius: 5%;
  width: 165px;
  height: 165px;
  background-color: #E1D5D9;
  margin: 8px;
  margin-bottom: 15px;
}
.description-boxes .description-line-2 .experience {
  border: none;
  border-radius: 5%;
  width: 165px;
  height: 165px;
  background-color: #E1D5D9;
  margin: 8px;
}

.tech-skills {
  box-sizing: border-box;
  padding: 15px;
  overflow: hidden;
}
.tech-skills .tech-skills-headline {
  color: #58545B;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
}
.tech-skills .tech-skills-headline .thinline {
  border: 0.8px solid #B7A7AE;
  width: 100%;
  margin-top: 5px;
}
.tech-skills .tech-skills-list {
  list-style-type: none;
  margin-top: 5px;
  padding-left: 0;
  font-family: "Cormorant Infant", serif;
}
.tech-skills .tech-skills-list li {
  margin: 2px;
}

.soft-skills {
  box-sizing: border-box;
  padding: 15px;
  overflow: hidden;
}
.soft-skills .soft-skills-headline {
  color: #58545B;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
}
.soft-skills .soft-skills-headline .thinline {
  border: 0.8px solid #B7A7AE;
  width: 100%;
  margin-top: 5px;
}
.soft-skills .soft-skills-list {
  list-style-type: none;
  margin-top: 5px;
  padding-left: 0;
  font-family: "Cormorant Infant", serif;
}
.soft-skills .soft-skills-list li {
  margin: 2px;
}

.education {
  box-sizing: border-box;
  padding: 15px;
  overflow: hidden;
}
.education .education-headline {
  color: #58545B;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
}
.education .education-headline .thinline {
  border: 0.8px solid #B7A7AE;
  width: 100%;
  margin-top: 5px;
}
.education .education-list {
  font-family: "Cormorant Infant", serif;
  font-size: 12px;
  margin-top: 5px;
}
.education .education-list #latrobe {
  font-size: 15px;
  font-weight: bold;
}
.education .education-list #academy {
  margin-top: 2px;
  font-size: 15px;
  font-weight: bold;
}

.experience {
  box-sizing: border-box;
  padding: 15px;
  overflow: hidden;
}
.experience .experience-headline {
  color: #58545B;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
}
.experience .experience-headline .thinline {
  border: 0.8px solid #B7A7AE;
  width: 100%;
  margin-top: 5px;
}
.experience .experience-list {
  font-family: "Cormorant Infant", serif;
  font-size: 12px;
  margin-top: 5px;
}
.experience .experience-list #bosch {
  font-size: 15px;
  font-weight: bold;
}
.experience .experience-list #programmed {
  margin-top: 10px;
  font-size: 15px;
  font-weight: bold;
}

@media screen and (min-width: 700px) {
  .home-section-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .home-section-2 .short-bio {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 50px;
  }
  .home-section-2 .short-bio .intro {
    color: #58545B;
    font-size: 1.7rem;
    font-family: "Cormorant Infant", serif;
    font-weight: bold;
  }
  .home-section-2 .short-bio .brief {
    font-family: "Cormorant Infant", serif;
    text-align: left;
    font-size: 1.3rem;
    width: 100%;
  }
  .home-section-2 .description-boxes {
    display: grid;
    margin: 20px;
  }
  .home-section-2 .description-boxes .tech-skills {
    height: 200px;
    width: 200px;
  }
  .home-section-2 .description-boxes .tech-skills .tech-skills-list {
    font-size: 18px;
    margin-top: 10px;
  }
  .home-section-2 .description-boxes .soft-skills {
    height: 200px;
    width: 200px;
  }
  .home-section-2 .description-boxes .soft-skills .soft-skills-list {
    font-size: 18px;
    margin-top: 10px;
  }
  .home-section-2 .description-boxes .education {
    height: 200px;
    width: 200px;
  }
  .home-section-2 .description-boxes .education .education-list {
    font-size: 14px;
    margin-top: 10px;
  }
  .home-section-2 .description-boxes .education .education-list #latrobe {
    font-size: 18px;
  }
  .home-section-2 .description-boxes .education .education-list #academy {
    margin-top: 10px;
    font-size: 18px;
  }
  .home-section-2 .description-boxes .experience {
    height: 200px;
    width: 200px;
  }
  .home-section-2 .description-boxes .experience .experience-list {
    font-size: 14px;
    margin-top: 10px;
  }
  .home-section-2 .description-boxes .experience .experience-list #bosch {
    font-size: 18px;
  }
  .home-section-2 .description-boxes .experience .experience-list #programmed {
    margin-top: 10px;
    font-size: 18px;
  }
}
@media screen and (min-width: 1300px) {
  .home-section-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 200px;
    padding-right: 200px;
  }
  .home-section-2 .short-bio {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .home-section-2 .short-bio .intro {
    color: #58545B;
    font-size: 2.3rem;
    font-family: "Cormorant Infant", serif;
    font-weight: bold;
    margin-top: 0;
  }
  .home-section-2 .short-bio .brief {
    font-family: "Cormorant Infant", serif;
    text-align: left;
    font-size: 1.3rem;
    width: 80%;
  }
  .home-section-2 .resume-button {
    height: 50px;
    width: 150px;
    border-radius: 60px;
  }
  .home-section-2 .resume-button a {
    font-size: 1rem;
  }
  .home-section-2 .description-boxes {
    margin: 0;
  }
  .home-section-2 .description-boxes .tech-skills {
    height: 280px;
    width: 280px;
    padding: 30px;
  }
  .home-section-2 .description-boxes .tech-skills .tech-skills-headline {
    font-size: 1rem;
  }
  .home-section-2 .description-boxes .tech-skills .tech-skills-list {
    font-size: 20px;
    margin-top: 10px;
  }
  .home-section-2 .description-boxes .soft-skills {
    height: 280px;
    width: 280px;
    padding: 30px;
  }
  .home-section-2 .description-boxes .soft-skills .soft-skills-headline {
    font-size: 1rem;
  }
  .home-section-2 .description-boxes .soft-skills .soft-skills-list {
    font-size: 20px;
    margin-top: 10px;
  }
  .home-section-2 .description-boxes .education {
    height: 280px;
    width: 280px;
    padding: 30px;
  }
  .home-section-2 .description-boxes .education .education-headline {
    font-size: 1rem;
  }
  .home-section-2 .description-boxes .education .education-list {
    font-size: 20px;
    margin-top: 10px;
  }
  .home-section-2 .description-boxes .education .education-list #latrobe {
    font-size: 20px;
  }
  .home-section-2 .description-boxes .education .education-list #academy {
    margin-top: 10px;
    font-size: 20px;
  }
  .home-section-2 .description-boxes .experience {
    height: 280px;
    width: 280px;
    padding: 30px;
  }
  .home-section-2 .description-boxes .experience .experience-headline {
    font-size: 1rem;
  }
  .home-section-2 .description-boxes .experience .experience-list {
    font-size: 20px;
    margin-top: 10px;
  }
  .home-section-2 .description-boxes .experience .experience-list #bosch {
    font-size: 20px;
  }
  .home-section-2 .description-boxes .experience .experience-list #programmed {
    margin-top: 10px;
    font-size: 20px;
  }
}
.home-section-2 {
  animation: fadein 3s linear 1 forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
#home-section-3 {
  background-color: #58545B;
  width: 100%;
  padding: 5%;
  padding-top: 20px;
  box-sizing: border-box;
  margin-bottom: 50px;
}

#my-work-header {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  font-family: "Cormorant Infant", serif;
  color: white;
  margin-bottom: 20px;
}

.my-work-intro {
  color: #E1D5D9;
  text-align: center;
  font-family: "Cormorant Infant", serif;
  font-size: 1rem;
  margin-bottom: 50px;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(1fr, 1fr);
  gap: 10px;
}

.container {
  position: relative;
  width: 100%;
}

.project-image {
  display: block;
  width: 100%;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#project-link {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}

.overlay-1 {
  position: absolute;
  background-color: black;
  overflow: hidden;
  transition: 0.8s ease;
  bottom: 100%;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
}

.container:hover .overlay-1 {
  bottom: 0;
  height: 100%;
}

.overlay-2 {
  position: absolute;
  background-color: black;
  overflow: hidden;
  transition: 0.8s ease;
  bottom: 0;
  left: 100%;
  right: 0;
  width: 0;
  height: 100%;
}

.container:hover .overlay-2 {
  width: 100%;
  left: 0;
}

.overlay-3 {
  position: absolute;
  background-color: black;
  overflow: hidden;
  transition: 0.8s ease;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
}

.container:hover .overlay-3 {
  height: 100%;
}

.overlay-4 {
  position: absolute;
  background-color: black;
  overflow: hidden;
  transition: 0.8s ease;
  bottom: 0;
  left: 0;
  right: 100%;
  width: 0;
  height: 100%;
}

.container:hover .overlay-4 {
  width: 100%;
  right: 0;
}

.overlay-5 {
  position: absolute;
  background-color: black;
  overflow: hidden;
  transition: 0.8s ease;
  bottom: 0;
  left: 100%;
  right: 0;
  width: 0;
  height: 100%;
}

.container:hover .overlay-5 {
  width: 100%;
  left: 0;
}

.overlay-6 {
  position: absolute;
  background-color: black;
  overflow: hidden;
  transition: 0.8s ease;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
}

.container:hover .overlay-6 {
  height: 100%;
}

@media screen and (min-width: 800px) {
  .project-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
  .project-image {
    height: 350px;
  }
  .container {
    margin: 0;
  }
}
@media screen and (min-width: 1000px) {
  #my-work-header {
    font-size: 2rem;
  }
  .my-work-intro {
    font-size: 1.2rem;
    padding-left: 20%;
    padding-right: 20%;
  }
  .project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .project-image {
    height: 450px;
  }
  .container {
    margin: 0;
  }
}
.home-section-4 {
  margin: 30px;
  margin-bottom: 50px;
}

.latest-articles-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}
.latest-articles-intro .latest-articles-heading {
  color: #58545B;
  font-family: "Cormorant Infant", serif;
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0;
}
.latest-articles-intro .latest-articles-brief {
  font-family: "Cormorant Infant", serif;
  font-size: 1rem;
  text-align: center;
}
.latest-articles-intro .more-articles-button {
  border: 1px solid #B7A7AE;
  border-radius: 20px;
  height: 40px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #B7A7AE;
  margin-bottom: 20px;
}
.latest-articles-intro .more-articles-button a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: black;
}

.more-articles-button:hover {
  background-color: #E1D5D9;
  border: #E1D5D9;
}

.articles-boxes .article-1 {
  border-radius: 10px;
  overflow: hidden;
  margin: 15px;
  background-color: #E1D5D9;
  box-sizing: border-box;
  padding: 15px;
  overflow: hidden;
}
.articles-boxes .article-1 .article-headline {
  color: #58545B;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
}
.articles-boxes .article-1 .thin-line {
  border: 0.8px solid #B7A7AE;
  width: 100%;
  margin-top: 5px;
}
.articles-boxes .article-1 .article-title {
  font-family: "Cormorant Infant", serif;
  font-size: 1.2rem;
}
.articles-boxes .article-2 {
  border-radius: 10px;
  overflow: hidden;
  margin: 15px;
  background-color: #E1D5D9;
  box-sizing: border-box;
  padding: 15px;
  overflow: hidden;
}
.articles-boxes .article-2 .article-headline {
  color: #58545B;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
}
.articles-boxes .article-2 .thin-line {
  border: 0.8px solid #B7A7AE;
  width: 100%;
  margin-top: 5px;
}
.articles-boxes .article-2 .article-title {
  font-family: "Cormorant Infant", serif;
  font-size: 1.2rem;
}
.articles-boxes .article-3 {
  border-radius: 10px;
  overflow: hidden;
  margin: 15px;
  background-color: #E1D5D9;
  box-sizing: border-box;
  padding: 15px;
  overflow: hidden;
}
.articles-boxes .article-3 .article-headline {
  color: #58545B;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
}
.articles-boxes .article-3 .thin-line {
  border: 0.8px solid #B7A7AE;
  width: 100%;
  margin-top: 5px;
}
.articles-boxes .article-3 .article-title {
  font-family: "Cormorant Infant", serif;
  font-size: 1.2rem;
}
.articles-boxes .article-4 {
  border-radius: 10px;
  overflow: hidden;
  margin: 15px;
  background-color: #E1D5D9;
  box-sizing: border-box;
  padding: 15px;
  overflow: hidden;
}
.articles-boxes .article-4 .article-headline {
  color: #58545B;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Inter", sans-serif;
  font-size: 0.7rem;
  font-weight: bold;
}
.articles-boxes .article-4 .thin-line {
  border: 0.8px solid #B7A7AE;
  width: 100%;
  margin-top: 5px;
}
.articles-boxes .article-4 .article-title {
  font-family: "Cormorant Infant", serif;
  font-size: 1.2rem;
}

#article-link {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 0.7rem;
  color: #58545B;
  font-weight: bold;
}

#article-link:hover {
  text-decoration: underline;
  color: #B7A7AE;
}

@media screen and (min-width: 700px) {
  .home-section-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 50px;
    padding-right: 50px;
  }
  .latest-articles-intro {
    align-items: flex-start;
  }
  .latest-articles-intro .latest-articles-heading {
    font-size: 1.8rem;
    margin-top: 0;
  }
  .latest-articles-intro .latest-articles-brief {
    text-align: left;
    width: 80%;
    font-size: 1rem;
  }
}
@media screen and (min-width: 1000px) {
  .home-section-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 180px;
    padding-right: 180px;
  }
  .latest-articles-intro {
    align-items: flex-start;
  }
  .latest-articles-intro .latest-articles-heading {
    font-size: 2rem;
    margin-top: 0;
  }
  .latest-articles-intro .latest-articles-brief {
    text-align: left;
    width: 80%;
    font-size: 1.1rem;
  }
}
.parallax {
  background-image: url(../images/parallax-image.jpg);
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonials {
  width: 100%;
  height: 300px;
  box-sizing: border-box;
  background-color: #58545B;
  text-align: center;
  color: white;
  font-family: "Cormorant Infant", serif;
  padding: 30px;
}
.testimonials .fa-quote-left {
  color: #E1D5D9;
}
.testimonials .testimony-name {
  font-family: "Oswald", sans-serif;
  margin-bottom: 0;
}
.testimonials .testimony-role {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  margin-top: 5px;
}

@media screen and (min-width: 600px) {
  .parallax {
    background-image: url(../images/parallax-image.jpg);
    min-height: 600px;
  }
  .testimonials {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 1.2rem;
  }
  .testimonials .fa-quote-left {
    font-size: 1.5rem;
  }
  .testimonials .testimony-name {
    font-size: 1.1rem;
  }
  .testimonials .testimony-role {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 1000px) {
  .parallax {
    background-image: url(../images/parallax-image.jpg);
    min-height: 600px;
  }
  .testimonials {
    height: 350px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
    font-size: 1.5rem;
  }
  .testimonials .fa-quote-left {
    font-size: 1.3rem;
  }
  .testimonials .testimony-name {
    font-size: 1.2rem;
  }
  .testimonials .testimony-role {
    font-size: 1rem;
  }
}
footer {
  background-color: #58545B;
  color: white;
  font-family: "Cormorant Infant", serif;
  height: 300px;
  text-align: center;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
footer #get-in-touch {
  font-size: 1.5rem;
  color: #E1D5D9;
  margin-bottom: 0;
}
footer .contact-info {
  margin-top: 0;
  margin-bottom: 0;
}
footer .contact-info .email {
  text-decoration: none;
  color: white;
}
footer .email:hover {
  text-decoration: underline;
  color: #B7A7AE;
}
footer .social-media {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
footer .fa-brands {
  color: white;
  font-size: 1.2rem;
}
footer .fa-brands:hover {
  font-size: 2rem;
  color: #B7A7AE;
}

.thin-line {
  border: 0.5px solid #E1D5D9;
}

.copyright {
  margin: 0;
  color: #B7A7AE;
  font-size: 0.8rem;
}

.back-to-top {
  text-decoration: none;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
  margin-bottom: 15px;
}

@media screen and (min-width: 600px) {
  footer .social-media {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  footer #get-in-touch {
    font-size: 2rem;
    margin-top: 20px;
  }
  footer .contact-info {
    font-size: 1.2rem;
  }
  footer .fa-brands {
    font-size: 1.4rem;
  }
  .copyright {
    font-size: 1rem;
  }
}
body {
  background-color: white;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  position: sticky;
  top: 0;
}

.project-heading {
  box-sizing: border-box;
}

.project-heading-photo {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.project-content-container {
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 100px;
}

h1 {
  text-align: center;
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  font-weight: 500;
}

.project-role {
  text-align: center;
  font-size: 1.2rem;
  font-family: "Oswald", sans-serif;
  margin: -10px;
}

.project-content {
  margin-top: 100px;
}
.project-content h2 {
  font-family: "Inter", sans-serif;
}
.project-content .project-content-para {
  font-family: "Cormorant Infant", serif;
  font-size: 1rem;
}

@media screen and (min-width: 600px) {
  .project-content-container {
    margin-left: 100px;
    margin-right: 100px;
  }
  .project-role {
    font-size: 1.2rem;
  }
  .project-content .project-content-para {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1000px) {
  .project-content-container {
    margin-left: 250px;
    margin-right: 250px;
    margin-bottom: 180px;
  }
  .project-role {
    font-size: 1.2rem;
  }
  .project-content .project-content-para {
    font-size: 1.2rem;
  }
}/*# sourceMappingURL=project5.css.map */