@import "../index";
@import "../defaults/font";
@import "../defaults/color";

// Styling for sticky navigation bar for keep audience engaging despite long content
header {
    position: sticky;
    top:0;
}

// Styling for project heading section
.project-heading {
    box-sizing: border-box;
}

.project-heading-photo {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

// Styling for project content section

.project-content-container {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
}

h1 {
    text-align: center;
    font-family: $tertiary-font;
    font-size: 30px;
    font-weight:500;
}

.project-role {
    text-align: center;
    font-size: 1.2rem;
    font-family: $tertiary-font;
    margin: -10px;
}

.project-content {
    margin-top: 100px;
    h2 {
        font-family: $secondary-font;
    }

    .project-content-para {
        font-family: $primary-font;
        font-size: 1rem;
    }
}


// Styling for responsive view on tablet
@media screen and (min-width: 600px) {
    .project-content-container {
        margin-left: 100px;
        margin-right: 100px;
    }

    .project-heading-photo {
        height: 350px;
    }

    .project-role {
        font-size: 1.2rem;
    }

    .project-content {

        .project-content-para {
            font-size: 1.2rem;
        }
    }
}

// Styling for responsive view on desktop
@media screen and (min-width: 1000px) {
    .project-content-container {
        margin-left: 250px;
        margin-right: 250px;
        margin-bottom: 180px;
    }

    .project-heading-photo {
        height: 400px;
    }

    .project-role {
        font-size: 1.2rem;
    }

    .project-content {

        .project-content-para {
            font-size: 1.2rem;
        }
    }
}
