@import "../defaults/font";
@import "../defaults/color";

/* The About page has three sections. 
    Section 1 is introduction, section 2 is a brief of skills and section 3 (last section) is my interest/vision.
    The styling of section 1 is included in the about.scss file.
    Two _scss file were created for section 2 and section 3 and were imported in this main scss file as below for the purpose of clarity. */

@import "./about-skillsection";
@import "./about-lastsection";


/* Styling for the whole section 1 of About page
Using display grid is to have the conversation box overlap the heading background in mobile view */
.about-section-1 {
    display: grid;
    grid-template-columns: 1fr 18fr 1fr;
    grid-template-rows: 30px 20px 1fr;
    box-sizing: border-box;
}

#heading-background {
    background-color: $primary-background;
    grid-column: 1 / -1;
    grid-row: 1 / 3;
    height: 900px;
    
}

/* Styling for the introduction section, which contains the photo and the first intro box */
.introduction {
    box-sizing: border-box;
    background-color: transparent;
    grid-column: 2 / 3;
    grid-row: 2 / -1;
    overflow: auto;
    margin-top: 20px;

    .intro-image-container {
        height: 440px;
        box-sizing: border-box;
        overflow: hidden;
        margin-left: 20px;
        margin-right: 20px;
        border: 20px solid $secondary-background;
    }

    .intro-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

/* The first intro box contains a greeting and a short introduction paragraph */
    .first-intro {
        background-color: $secondary-background;
        font-family: $primary-font;
        margin: 20px;
        margin-bottom: 0px;
        padding: 18px;
        border-radius: 15px;

        .greeting {
            font-size: 1.3rem;
            font-weight: bold;
            font-family: $tertiary-font;
            margin-bottom: 10px;
            color: #1C252C;
            padding-left:15px;
            padding-right:15px;
        }

        .intro-para {
            font-size: 1.1rem;
            color: black;
            padding-left:15px;
            padding-right:15px;
        }
    }
}


/* Media breakpoints for responsive view on tablet. */
@media screen and (min-width: 600px) {
    #heading-background {
       height: 720px;
    }

    .introduction {
        margin-bottom: 50px;
        margin-left: 20px;
        margin-right: 20px;

        .intro-image-container {
            height: 420px;
        }

        .first-intro {
            margin-top: 30px;
        }
    }
}

/* Media breakpoints for responsive view on desktop */
@media screen and (min-width: 1200px) {
    
    #heading-background {
        height: 600px;
    }

    .about-section-1 {
        margin-bottom: 100px;
    }

    .introduction {
        display:grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: auto;
        margin-left: 80px;
        margin-right: 50px;
        align-items: normal;
        margin-top: 50px;

        .intro-image-container {
            grid-column: 1 / 3;
            height: 440px;
        }

        .first-intro {
        grid-column: 3 / -1;
        background-color: transparent;
        padding: 0px;
        margin-left: 40px;
        margin-right: 0px;
        margin-top: 0px;
    
            .greeting {
            font-size: 2rem;
            color: $secondary-background;
            }

            .intro-para {
                font-size: 1.2rem;
                color: $primary-text-color;
            }
        }
    }
}

/* Media breakpoints for responsive view on monitor. */
@media screen and (min-width: 1500px) {
    
    #heading-background {
        height: 680px;
    }

    .about-section-1 {
        margin-bottom: 100px;
    }

    .introduction {

        .intro-image-container {
        height: 500px;
        }

        .first-intro .intro-para {
            font-size: 1.5rem;
        }
    }
}


/* Animation effect for the heading of About page */

.intro-image-container {
    animation: image-move 3s 1;
    animation-timing-function: ease;
    position: relative;
    overflow-x: hidden;
    /* To hide the scrollbar when using slide transition */
}

@keyframes image-move {
    from {left: -200px;}
    to {left: 0px}
}

/* To hide the scrollbar when using slide transition */
.first-intro {
    overflow-x:hidden;
}

.greeting {
    animation: greeting-move 3s 1;
    animation-timing-function: ease;
    position: relative;
}

@keyframes greeting-move {
    from {right: -200px;}
    to {right: 0px}
}

#para1 {
    animation: para1-move 3s 1;
    animation-timing-function: ease-out;
    position: relative;
}

@keyframes para1-move {
    from {right: -200px;}
    to {right: 0px}
}

#para2 {
    animation: para2-move 3s 1;
    animation-timing-function: ease-in-out;
    position: relative;
}

@keyframes para2-move {
    from {right: -200px;}
    to {right: 0px}
}


